/*css reset*/

*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
/*main container*/

#main{
    width: 80%;
    height: 100vh;
    margin: auto;
}
/*first, second and fifth row*/
.row__img{
    width: 95%;
    height: 25%;
    margin: auto;
/*    background: teal;
    border : 2px solid black;*/
}
/*third and forth row*/
.row__text{
    width: 95%;
    height: 12.5%;
    margin: auto;
}
/*two columns in second row*/
.col {
	width: 50%;
	height: 100%;
    margin: auto;
    float: left;
}

.col::after {
	clear: left;
}

/*images*/

#row__image{
	height: 40%; 
}

#image__main {
	display: block;
	width: 40%;
	height: 100%; 
	margin: auto;
	padding: 30px 0;
}

.image__row2 {
	width: 80%;
	height: 100%; 
	display: block;
	margin: auto;
}

#image__bottom {
	width: 80%;
	height: 100%; 
	display: block;
	margin: auto;
}

/*row text*/

h3 {
	text-align: center;
	font-size: 2em;
}

/*form row*/

#row__form {
	padding: 30px;
	margin: 60px;
	background-color: gray;
}

/*css reset

* {  
     margin:0;
     padding:0;
     box-sizing: border-box;
}

/*main container

#main_container {
  width: 80%;
  height: 100vh;
  background-color: gray;
  margin: auto; /*middle centered
}

/*row

.row_img {
  width: 95%;
  height: 25%;
  margin: auto;
  background-color: yellow;
  border: 2px solid black;
}

.row_text {
  width: 95%;
  height: 12.5%;
  margin: auto;
  background-color: green;
  border: 2px solid black;
}
/*	NOTES:
	% good for responsive designs
	vh = vertical height */